# Project exclude paths
/day01_eesy_01jdbc/target/
/day01_eesy_02factory/target/
/day01_eesy_03factory/target/
/day01_eesy_04bean/target/
/day01_eesy_05DI/target/
/day02_eesy_01anno_ioc/target/
/day02_eesy_02account_xmlioc/target/
/day02_eesy_04account_annoioc_withoutxml/target/